nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid rgba(0, 0, 0, 0.192);
    background-color: rgb(16, 17, 17);
}

nav h1 {
    display: flex;
    justify-content: center;
    grid-column-start: 2;
    font-size: 3em;
    padding: .2em;
    color: rgb(14, 235, 235);
    font-family: 'Itim', cursive;
}

nav > .login-button-container {
    display: flex;
    justify-content: flex-end
}

nav > .login-button-container > .login-button, .logout-button {
    height: 100%;
    width: 30%;
    background-color:  rgb(16, 17, 17);
    font-size: 1.3em;
    transition: color 250ms ease-in-out;
}

nav > .login-button-container > .login-button:hover, .logout-button:hover {
    color: cyan;
    cursor: pointer;
}
